<div [formGroup]="form" style="display: flex;flex-direction: column;padding: 30px">

  <label for="usuario">Para?</label>
  <input formControlName="usuario" id="usuario" type="text" placeholder="Digite um colaborador e selecione na lista abaixo">

  <table style="width:100%; margin: 30px;  border: 1px solid black;">
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
    </tr>
    <tr *ngFor="let user of users" style="cursor: pointer;" (click)="onSelectUser(user)">
      <td>{{ user.name }}</td>
      <td> {{ user.mail }}</td>
    </tr>
  </table> 
  
  <label for="feedback">Feedback</label>
  <textarea formControlName="mensagem" rows="4" cols="50"></textarea>
  <button (click)="enviar()">Enviar</button>
  <p></p>

  <h3>Novos Feedbacks</h3>
  
  <button (click)="buscarNovosFeedbacks()">Buscar</button>

  <p *ngFor="let item of novosFeedbacks">De: {{item.nameFrom}} - Feedback: {{item.text}}</p>


  <h3>Todos Feedbacks</h3>

  <button (click)="buscarTodosFeedbacks()">Buscar</button>

  <p *ngFor="let item of todosFeedbacks">De: {{item.nameFrom}} - Feedback: {{item.text}}</p>

</div>

<pre>{{form.value | json}}</pre>